*{
    margin: 0;
    padding: 0;

}
#container{
    display: grid;
}
#header{
    min-height: 15vh;
    background-color: blue;
}
#main{
    min-height: 60vh;
    background-color: pink;
    margin-top: 2vh;
}
#content{
    display: grid;
    grid-template-columns: 2fr 2fr;
    min-height: 20vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}
#col1{
    background-color: red;
    margin-right: 2vw;
}
#col2{
    background-color: yellow;
}

#footer{
    min-height: 5vh;
    background-color: blue;

}